n8n/workflows/n8n_workflow_template.json
{
    "name": "Prismola",
    "nodes": [
        {
            "parameters": {
                "jsCode": "const raw_data = [\n  {\n    \"expression\": \"go ahead\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220609748452\"\n  },\n  {\n    \"expression\": \"What do you think\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/224035777974\"\n  },\n  {\n    \"expression\": \"Tit for Tat\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223939735225\"\n  },\n  {\n    \"expression\": \"Let the Dust Settle\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223936341641\"\n  },\n  {\n    \"expression\": \"Knock on Wood\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223934440476\"\n  },\n  {\n    \"expression\": \"Engage with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223795193502\"\n  },\n  {\n    \"expression\": \"Be So Into\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223734986162\"\n  },\n  {\n    \"expression\": \"Under your nose\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223711675365\"\n  },\n  {\n    \"expression\": \"Get a Taste of Your Own Medicine\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223707935877\"\n  },\n  {\n    \"expression\": \"I'm Good\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223707151646\"\n  },\n  {\n    \"expression\": \"Suck at this\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223704580025\"\n  },\n  {\n    \"expression\": \"No problem\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223509686775\"\n  },\n  {\n    \"expression\": \"have a change of heart\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223456417911\"\n  },\n  {\n    \"expression\": \"Keep your chin up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223436132873\"\n  },\n  {\n    \"expression\": \"I got you\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223433890140\"\n  },\n  {\n    \"expression\": \"that's it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/223431956958\"\n  },\n  {\n    \"expression\": \"swing by\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222516797980\"\n  },\n  {\n    \"expression\": \"I'll take it from here\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222495898774\"\n  },\n  {\n    \"expression\": \"take a leak\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222480336367\"\n  },\n  {\n    \"expression\": \"get wasted\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222461978404\"\n  },\n  {\n    \"expression\": \"dive in\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222445112741\"\n  },\n  {\n    \"expression\": \"street smart & book smart\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222419124305\"\n  },\n  {\n    \"expression\": \"got it bad\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222403309413\"\n  },\n  {\n    \"expression\": \"come to mind\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222386316743\"\n  },\n  {\n    \"expression\": \"for crying out loud\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222361603956\"\n  },\n  {\n    \"expression\": \"it hurts\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222342826990\"\n  },\n  {\n    \"expression\": \"hard\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222333196020\"\n  },\n  {\n    \"expression\": \"I hate it when\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222321729339\"\n  },\n  {\n    \"expression\": \"That's the way it is\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222314737481\"\n  },\n  {\n    \"expression\": \"sneak a look\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222305439484\"\n  },\n  {\n    \"expression\": \"chew the fat\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222297174013\"\n  },\n  {\n    \"expression\": \"get a bang out of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222289407017\"\n  },\n  {\n    \"expression\": \"be through with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222282565249\"\n  },\n  {\n    \"expression\": \"get smart with someone\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222273894152\"\n  },\n  {\n    \"expression\": \"strictly for the birds\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222267509823\"\n  },\n  {\n    \"expression\": \"pull oneself together\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222258640661\"\n  },\n  {\n    \"expression\": \"get over yourself\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222251136576\"\n  },\n  {\n    \"expression\": \"game changer\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222242888721\"\n  },\n  {\n    \"expression\": \"have a thing for\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222234149069\"\n  },\n  {\n    \"expression\": \"and whatnot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222225713264\"\n  },\n  {\n    \"expression\": \"speak for itself\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222218354013\"\n  },\n  {\n    \"expression\": \"with a heavy heart\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222209210091\"\n  },\n  {\n    \"expression\": \"I would say\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222202987254\"\n  },\n  {\n    \"expression\": \"off the top of my head\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222193836797\"\n  },\n  {\n    \"expression\": \"kill it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222178844183\"\n  },\n  {\n    \"expression\": \"spill your guts\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222172501669\"\n  },\n  {\n    \"expression\": \"get out of my head\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222163522701\"\n  },\n  {\n    \"expression\": \"do the trick\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222156766487\"\n  },\n  {\n    \"expression\": \"free ride\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222151281074\"\n  },\n  {\n    \"expression\": \"early days\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222143985848\"\n  },\n  {\n    \"expression\": \"enlighten me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222138911725\"\n  },\n  {\n    \"expression\": \"How does that sound\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222132689657\"\n  },\n  {\n    \"expression\": \"take a new turn\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222124959206\"\n  },\n  {\n    \"expression\": \"along the way\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222118866728\"\n  },\n  {\n    \"expression\": \"the whole picture\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222111848416\"\n  },\n  {\n    \"expression\": \"in lieu of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222106381009\"\n  },\n  {\n    \"expression\": \"come and go\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222100072939\"\n  },\n  {\n    \"expression\": \"a sore spot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222094668855\"\n  },\n  {\n    \"expression\": \"honestly\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222087391637\"\n  },\n  {\n    \"expression\": \"no match for\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222081596674\"\n  },\n  {\n    \"expression\": \"step away\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222075112663\"\n  },\n  {\n    \"expression\": \"show somebody around\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222068494875\"\n  },\n  {\n    \"expression\": \"be in for something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222062023429\"\n  },\n  {\n    \"expression\": \"go by the name of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222055827476\"\n  },\n  {\n    \"expression\": \"fall on deaf ears\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222048207456\"\n  },\n  {\n    \"expression\": \"a bun in the oven\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222042202951\"\n  },\n  {\n    \"expression\": \"space out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222034504185\"\n  },\n  {\n    \"expression\": \"work one's way up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222028454207\"\n  },\n  {\n    \"expression\": \"on one's own\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222021581292\"\n  },\n  {\n    \"expression\": \"to one's knowledge\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222015983461\"\n  },\n  {\n    \"expression\": \"make one's acquaintance\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222010019270\"\n  },\n  {\n    \"expression\": \"point the finger at\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222007603497\"\n  },\n  {\n    \"expression\": \"chicken out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/222001805933\"\n  },\n  {\n    \"expression\": \"I don't buy it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221995385576\"\n  },\n  {\n    \"expression\": \"all along\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221988974118\"\n  },\n  {\n    \"expression\": \"be the case\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221979677021\"\n  },\n  {\n    \"expression\": \"rock the boat\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221970533203\"\n  },\n  {\n    \"expression\": \"good for nothing\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221961064854\"\n  },\n  {\n    \"expression\": \"get on one's good side\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221953740172\"\n  },\n  {\n    \"expression\": \"step up one's game\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221945662713\"\n  },\n  {\n    \"expression\": \"in no position to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221937503640\"\n  },\n  {\n    \"expression\": \"scooch over\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221927224968\"\n  },\n  {\n    \"expression\": \"fool into\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221916953554\"\n  },\n  {\n    \"expression\": \"get on with something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221908418669\"\n  },\n  {\n    \"expression\": \"I insist\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221899277304\"\n  },\n  {\n    \"expression\": \"just slipped out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221891887127\"\n  },\n  {\n    \"expression\": \"What's that supposed to mean\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221885436716\"\n  },\n  {\n    \"expression\": \"maybe some other time\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221877842800\"\n  },\n  {\n    \"expression\": \"Nothing personal\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221872869271\"\n  },\n  {\n    \"expression\": \"What's it going to be\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221864937724\"\n  },\n  {\n    \"expression\": \"much like\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221858675911\"\n  },\n  {\n    \"expression\": \"out of touch with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221852195688\"\n  },\n  {\n    \"expression\": \"tag along\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221845379935\"\n  },\n  {\n    \"expression\": \"have mixed feelings\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221839309528\"\n  },\n  {\n    \"expression\": \"to your liking\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221832460482\"\n  },\n  {\n    \"expression\": \"You've earned it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221827985536\"\n  },\n  {\n    \"expression\": \"go through with something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221821266543\"\n  },\n  {\n    \"expression\": \"a matter of time\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221815697296\"\n  },\n  {\n    \"expression\": \"blew it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221810323530\"\n  },\n  {\n    \"expression\": \"do one's homework\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221805148229\"\n  },\n  {\n    \"expression\": \"good to go\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221800206320\"\n  },\n  {\n    \"expression\": \"pull over\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221795089499\"\n  },\n  {\n    \"expression\": \"honest mistake\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221790455870\"\n  },\n  {\n    \"expression\": \"have time to kill\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221785780860\"\n  },\n  {\n    \"expression\": \"take it out on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221776589417\"\n  },\n  {\n    \"expression\": \"meet your match\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221771642525\"\n  },\n  {\n    \"expression\": \"A change of scenery\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221767030974\"\n  },\n  {\n    \"expression\": \"out of nowhere\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221762025109\"\n  },\n  {\n    \"expression\": \"better still\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221753298619\"\n  },\n  {\n    \"expression\": \"in place II\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221748947188\"\n  },\n  {\n    \"expression\": \"as in\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221744718498\"\n  },\n  {\n    \"expression\": \"Don't bother\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221740604040\"\n  },\n  {\n    \"expression\": \"back in the day\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221736269780\"\n  },\n  {\n    \"expression\": \"half baked\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221732099635\"\n  },\n  {\n    \"expression\": \"Have never seen ~ like this before\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221728169612\"\n  },\n  {\n    \"expression\": \"one\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221723784240\"\n  },\n  {\n    \"expression\": \"all told\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221720212605\"\n  },\n  {\n    \"expression\": \"be onto something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221716274677\"\n  },\n  {\n    \"expression\": \"been there, done that\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221712588780\"\n  },\n  {\n    \"expression\": \"stay over\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221708950451\"\n  },\n  {\n    \"expression\": \"make the cut\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221704781338\"\n  },\n  {\n    \"expression\": \"be meant for each other\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221701106690\"\n  },\n  {\n    \"expression\": \"could do with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221698878509\"\n  },\n  {\n    \"expression\": \"given\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221695208797\"\n  },\n  {\n    \"expression\": \"at one go\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221691113136\"\n  },\n  {\n    \"expression\": \"let somebody down\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221687621383\"\n  },\n  {\n    \"expression\": \"up for it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221683388846\"\n  },\n  {\n    \"expression\": \"break in\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221679758690\"\n  },\n  {\n    \"expression\": \"better yet\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221675655690\"\n  },\n  {\n    \"expression\": \"talk out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221672054666\"\n  },\n  {\n    \"expression\": \"be at home in\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221668215516\"\n  },\n  {\n    \"expression\": \"few and far between\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221663754459\"\n  },\n  {\n    \"expression\": \"own up to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221660463431\"\n  },\n  {\n    \"expression\": \"cool your heels\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221656048139\"\n  },\n  {\n    \"expression\": \"go steady\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221652199360\"\n  },\n  {\n    \"expression\": \"out of sorts\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221647964391\"\n  },\n  {\n    \"expression\": \"go easy on someone\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221644787496\"\n  },\n  {\n    \"expression\": \"false alarm\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221640831831\"\n  },\n  {\n    \"expression\": \"a little off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221636277594\"\n  },\n  {\n    \"expression\": \"set things right\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221635275750\"\n  },\n  {\n    \"expression\": \"You asked for it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221631483320\"\n  },\n  {\n    \"expression\": \"rise and shine\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221629276072\"\n  },\n  {\n    \"expression\": \"as good as it gets\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221626990675\"\n  },\n  {\n    \"expression\": \"gear up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221622738007\"\n  },\n  {\n    \"expression\": \"once in a blue moon\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221620330845\"\n  },\n  {\n    \"expression\": \"I'm not in the mood\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221618595615\"\n  },\n  {\n    \"expression\": \"be there for you\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221614219648\"\n  },\n  {\n    \"expression\": \"walk away\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221612032124\"\n  },\n  {\n    \"expression\": \"get under your skin\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221607458296\"\n  },\n  {\n    \"expression\": \"for all I care\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221603291808\"\n  },\n  {\n    \"expression\": \"It's written all over your face\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221601245557\"\n  },\n  {\n    \"expression\": \"you don't want to do that\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221597306878\"\n  },\n  {\n    \"expression\": \"under your belt\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221593365124\"\n  },\n  {\n    \"expression\": \"Who's to say\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221590107659\"\n  },\n  {\n    \"expression\": \"tell me about it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221587311855\"\n  },\n  {\n    \"expression\": \"no can do\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221584762472\"\n  },\n  {\n    \"expression\": \"who can say\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221581318580\"\n  },\n  {\n    \"expression\": \"who would have thought\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221578440076\"\n  },\n  {\n    \"expression\": \"speak for yourself\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221575369145\"\n  },\n  {\n    \"expression\": \"no reason\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221573753898\"\n  },\n  {\n    \"expression\": \"I've had it with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221569858289\"\n  },\n  {\n    \"expression\": \"drop by\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221563405690\"\n  },\n  {\n    \"expression\": \"for the moment\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221560297286\"\n  },\n  {\n    \"expression\": \"a long shot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221556077870\"\n  },\n  {\n    \"expression\": \"That's my girl\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221551423944\"\n  },\n  {\n    \"expression\": \"give the green light to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221547974944\"\n  },\n  {\n    \"expression\": \"blow one's mind\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221543255613\"\n  },\n  {\n    \"expression\": \"worth your while\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221540177136\"\n  },\n  {\n    \"expression\": \"That says a lot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221536735314\"\n  },\n  {\n    \"expression\": \"in your own right\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221533698039\"\n  },\n  {\n    \"expression\": \"under the circumstances\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221530378025\"\n  },\n  {\n    \"expression\": \"spot on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221528265610\"\n  },\n  {\n    \"expression\": \"What's the catch\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221526306628\"\n  },\n  {\n    \"expression\": \"for now\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221523214851\"\n  },\n  {\n    \"expression\": \"as of/from\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221520718240\"\n  },\n  {\n    \"expression\": \"in a mood\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221517882308\"\n  },\n  {\n    \"expression\": \"ask for trouble\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221514394158\"\n  },\n  {\n    \"expression\": \"in place\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221511444829\"\n  },\n  {\n    \"expression\": \"think through\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221508698110\"\n  },\n  {\n    \"expression\": \"it can wait\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221505546656\"\n  },\n  {\n    \"expression\": \"be up to your neck\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221502116922\"\n  },\n  {\n    \"expression\": \"not just saying that\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221498897951\"\n  },\n  {\n    \"expression\": \"one way or another\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221495438910\"\n  },\n  {\n    \"expression\": \"not for nothing\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221491998474\"\n  },\n  {\n    \"expression\": \"be full of beans\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221490321128\"\n  },\n  {\n    \"expression\": \"come in handy\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221488940335\"\n  },\n  {\n    \"expression\": \"You asked for it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221487512562\"\n  },\n  {\n    \"expression\": \"it is what it is\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221485794706\"\n  },\n  {\n    \"expression\": \"a clean slate\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221484111155\"\n  },\n  {\n    \"expression\": \"drop the ball\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221480861318\"\n  },\n  {\n    \"expression\": \"not necessarily\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221479166177\"\n  },\n  {\n    \"expression\": \"so be it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221477860382\"\n  },\n  {\n    \"expression\": \"have come a long way\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221476318825\"\n  },\n  {\n    \"expression\": \"no stranger to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221474608013\"\n  },\n  {\n    \"expression\": \"be boxed in\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221472928973\"\n  },\n  {\n    \"expression\": \"be your best bet\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221469656564\"\n  },\n  {\n    \"expression\": \"I got this\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221467980214\"\n  },\n  {\n    \"expression\": \"give it a shot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221466619008\"\n  },\n  {\n    \"expression\": \"I'll say\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221464720447\"\n  },\n  {\n    \"expression\": \"cut it out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221463268572\"\n  },\n  {\n    \"expression\": \"kick the habit\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221461622858\"\n  },\n  {\n    \"expression\": \"sit back\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221459960287\"\n  },\n  {\n    \"expression\": \"hope for the best\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221457849270\"\n  },\n  {\n    \"expression\": \"cut me some slack\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221456682483\"\n  },\n  {\n    \"expression\": \"a play on words\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221454924196\"\n  },\n  {\n    \"expression\": \"right as rain\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221453129168\"\n  },\n  {\n    \"expression\": \"top that\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221450899812\"\n  },\n  {\n    \"expression\": \"feel for\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221449218264\"\n  },\n  {\n    \"expression\": \"get the jitters\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221447600911\"\n  },\n  {\n    \"expression\": \"I get that a lot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221446197429\"\n  },\n  {\n    \"expression\": \"keep someone posted\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221444623008\"\n  },\n  {\n    \"expression\": \"a man of his word\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221442579193\"\n  },\n  {\n    \"expression\": \"in no time\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221441019423\"\n  },\n  {\n    \"expression\": \"see something through\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221439667231\"\n  },\n  {\n    \"expression\": \"Why bother\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221437969672\"\n  },\n  {\n    \"expression\": \"sell like hot cakes\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221436397063\"\n  },\n  {\n    \"expression\": \"out of this world\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221434854975\"\n  },\n  {\n    \"expression\": \"stuck in traffic\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221433611332\"\n  },\n  {\n    \"expression\": \"work wonders\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221431643893\"\n  },\n  {\n    \"expression\": \"with flying colors\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221430456614\"\n  },\n  {\n    \"expression\": \"speak your mind\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221429360982\"\n  },\n  {\n    \"expression\": \"have a word\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221427704903\"\n  },\n  {\n    \"expression\": \"fire away\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221426378293\"\n  },\n  {\n    \"expression\": \"after all\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221425078415\"\n  },\n  {\n    \"expression\": \"tied up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221422052976\"\n  },\n  {\n    \"expression\": \"tight schedule\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221420244336\"\n  },\n  {\n    \"expression\": \"no bother\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221419304085\"\n  },\n  {\n    \"expression\": \"for better or worse\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221416472450\"\n  },\n  {\n    \"expression\": \"Not my cup of tea\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221415074563\"\n  },\n  {\n    \"expression\": \"level with someone\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221413972884\"\n  },\n  {\n    \"expression\": \"on a roll\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221412433796\"\n  },\n  {\n    \"expression\": \"sit on the fence\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221410781511\"\n  },\n  {\n    \"expression\": \"one of those days\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221409536091\"\n  },\n  {\n    \"expression\": \"smell a rat\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221408181299\"\n  },\n  {\n    \"expression\": \"no questions asked\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221406775963\"\n  },\n  {\n    \"expression\": \"do justice\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221405326609\"\n  },\n  {\n    \"expression\": \"behind one's back\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221404093632\"\n  },\n  {\n    \"expression\": \"give someone the cold shoulder\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221400857365\"\n  },\n  {\n    \"expression\": \"hit it off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221399823684\"\n  },\n  {\n    \"expression\": \"for keeps\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221398525842\"\n  },\n  {\n    \"expression\": \"let somebody down\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221397134671\"\n  },\n  {\n    \"expression\": \"could use\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221395730549\"\n  },\n  {\n    \"expression\": \"If my memory serves me correctly\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221394552262\"\n  },\n  {\n    \"expression\": \"grab a bite\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221391435707\"\n  },\n  {\n    \"expression\": \"I suppose so\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221390214474\"\n  },\n  {\n    \"expression\": \"same old same old\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221388881053\"\n  },\n  {\n    \"expression\": \"It's worth it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221386111774\"\n  },\n  {\n    \"expression\": \"the other day\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221385016179\"\n  },\n  {\n    \"expression\": \"the other way around\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221383526924\"\n  },\n  {\n    \"expression\": \"though\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221382080638\"\n  },\n  {\n    \"expression\": \"under the table\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221380859048\"\n  },\n  {\n    \"expression\": \"stand a chance\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221379597769\"\n  },\n  {\n    \"expression\": \"all along\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221378220191\"\n  },\n  {\n    \"expression\": \"can't hack it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221376839490\"\n  },\n  {\n    \"expression\": \"back in the saddle\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221375607463\"\n  },\n  {\n    \"expression\": \"all thumbs\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221374322835\"\n  },\n  {\n    \"expression\": \"need I say more\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221372310113\"\n  },\n  {\n    \"expression\": \"before you know it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221371089775\"\n  },\n  {\n    \"expression\": \"be in a tight spot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221369790064\"\n  },\n  {\n    \"expression\": \"Put a sock in it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221368395640\"\n  },\n  {\n    \"expression\": \"too close to call\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221367273018\"\n  },\n  {\n    \"expression\": \"the genie is out of the bottle\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221365889674\"\n  },\n  {\n    \"expression\": \"fall for something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221364064845\"\n  },\n  {\n    \"expression\": \"hang up on someone\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221362965505\"\n  },\n  {\n    \"expression\": \"back to back\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221361557227\"\n  },\n  {\n    \"expression\": \"just another day\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221359514371\"\n  },\n  {\n    \"expression\": \"make someone's day\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221358897092\"\n  },\n  {\n    \"expression\": \"play it by ear\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221357468606\"\n  },\n  {\n    \"expression\": \"screw it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221356400537\"\n  },\n  {\n    \"expression\": \"read one's mind\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221354904531\"\n  },\n  {\n    \"expression\": \"act up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221353857968\"\n  },\n  {\n    \"expression\": \"from day one\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221352352484\"\n  },\n  {\n    \"expression\": \"lose one's edge\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221351041639\"\n  },\n  {\n    \"expression\": \"dog eat dog\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221350000068\"\n  },\n  {\n    \"expression\": \"who cares\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221348356264\"\n  },\n  {\n    \"expression\": \"switch gears\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221346906827\"\n  },\n  {\n    \"expression\": \"under your nose\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221345774822\"\n  },\n  {\n    \"expression\": \"top off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221344400941\"\n  },\n  {\n    \"expression\": \"change hands\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221343276173\"\n  },\n  {\n    \"expression\": \"call in sick\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221341664042\"\n  },\n  {\n    \"expression\": \"as plain as day\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221340586780\"\n  },\n  {\n    \"expression\": \"no strings attached\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221338226416\"\n  },\n  {\n    \"expression\": \"for show\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221336871387\"\n  },\n  {\n    \"expression\": \"cut corners\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221335826637\"\n  },\n  {\n    \"expression\": \"all ears\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221334425788\"\n  },\n  {\n    \"expression\": \"make a scene\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221332928008\"\n  },\n  {\n    \"expression\": \"lose face\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221331351339\"\n  },\n  {\n    \"expression\": \"pack your bags\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221330239058\"\n  },\n  {\n    \"expression\": \"keep your shirt on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221328983006\"\n  },\n  {\n    \"expression\": \"have yet to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221328008159\"\n  },\n  {\n    \"expression\": \"earn their stripes\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221326517152\"\n  },\n  {\n    \"expression\": \"take my chances\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221325048968\"\n  },\n  {\n    \"expression\": \"blow away\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221323609672\"\n  },\n  {\n    \"expression\": \"get the better of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221322448043\"\n  },\n  {\n    \"expression\": \"don't feel myself\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221320750791\"\n  },\n  {\n    \"expression\": \"give me a break\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221319449102\"\n  },\n  {\n    \"expression\": \"might want to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221317195529\"\n  },\n  {\n    \"expression\": \"for all I know\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221314575508\"\n  },\n  {\n    \"expression\": \"very much so\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221313309930\"\n  },\n  {\n    \"expression\": \"have a heart\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221312018812\"\n  },\n  {\n    \"expression\": \"to make a long story short\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221310463882\"\n  },\n  {\n    \"expression\": \"be hard on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221309503294\"\n  },\n  {\n    \"expression\": \"come off it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221308090464\"\n  },\n  {\n    \"expression\": \"meet halfway\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221306646503\"\n  },\n  {\n    \"expression\": \"it doesn't hurt to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221305211231\"\n  },\n  {\n    \"expression\": \"give it a shot\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221304038884\"\n  },\n  {\n    \"expression\": \"for what it's worth\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221302501512\"\n  },\n  {\n    \"expression\": \"get the hang of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221300123554\"\n  },\n  {\n    \"expression\": \"on credit\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221299663485\"\n  },\n  {\n    \"expression\": \"make it snappy\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221298133245\"\n  },\n  {\n    \"expression\": \"easy does it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221295923252\"\n  },\n  {\n    \"expression\": \"you name it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221294444608\"\n  },\n  {\n    \"expression\": \"brush up on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221292931603\"\n  },\n  {\n    \"expression\": \"buzz off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221291330232\"\n  },\n  {\n    \"expression\": \"make my day\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221289941586\"\n  },\n  {\n    \"expression\": \"more like\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221288567911\"\n  },\n  {\n    \"expression\": \"so what\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221286835530\"\n  },\n  {\n    \"expression\": \"a penny for your thoughts\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221285235010\"\n  },\n  {\n    \"expression\": \"the ball is in your court\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221283877753\"\n  },\n  {\n    \"expression\": \"over my head\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221282249440\"\n  },\n  {\n    \"expression\": \"talk sense\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221280971121\"\n  },\n  {\n    \"expression\": \"thanks for the heads up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221279450513\"\n  },\n  {\n    \"expression\": \"see it coming\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221278062267\"\n  },\n  {\n    \"expression\": \"snap out of it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221276237810\"\n  },\n  {\n    \"expression\": \"have one's way\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221274577897\"\n  },\n  {\n    \"expression\": \"to the point\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221273166471\"\n  },\n  {\n    \"expression\": \"read my mind\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221271560790\"\n  },\n  {\n    \"expression\": \"feel up to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221270050765\"\n  },\n  {\n    \"expression\": \"Be my guest\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221268687988\"\n  },\n  {\n    \"expression\": \"save your breath\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221267521330\"\n  },\n  {\n    \"expression\": \"bite your tongue\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221265503856\"\n  },\n  {\n    \"expression\": \"take it from me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221264158812\"\n  },\n  {\n    \"expression\": \"like it or not\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221262777155\"\n  },\n  {\n    \"expression\": \"How so\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221261221313\"\n  },\n  {\n    \"expression\": \"face the music\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221259390642\"\n  },\n  {\n    \"expression\": \"since when\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221258173687\"\n  },\n  {\n    \"expression\": \"out with it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221256531652\"\n  },\n  {\n    \"expression\": \"i don't suppose\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221255026783\"\n  },\n  {\n    \"expression\": \"allow me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221253422796\"\n  },\n  {\n    \"expression\": \"not on your life\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221252062001\"\n  },\n  {\n    \"expression\": \"by any stretch\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221250305513\"\n  },\n  {\n    \"expression\": \"can't help it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221248609087\"\n  },\n  {\n    \"expression\": \"Just a thought\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221247345685\"\n  },\n  {\n    \"expression\": \"butter up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221245696244\"\n  },\n  {\n    \"expression\": \"just out of interest\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221243933072\"\n  },\n  {\n    \"expression\": \"have words with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221240455421\"\n  },\n  {\n    \"expression\": \"get cold feet\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221238890956\"\n  },\n  {\n    \"expression\": \"one of a kind\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221237179634\"\n  },\n  {\n    \"expression\": \"by any chance\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221235138373\"\n  },\n  {\n    \"expression\": \"no such luck\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221233295333\"\n  },\n  {\n    \"expression\": \"piss off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221231759971\"\n  },\n  {\n    \"expression\": \"words fail me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221230590488\"\n  },\n  {\n    \"expression\": \"a close call\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221227531604\"\n  },\n  {\n    \"expression\": \"for a change\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221225991469\"\n  },\n  {\n    \"expression\": \"now you mention it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221224744791\"\n  },\n  {\n    \"expression\": \"come to think of it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221223134762\"\n  },\n  {\n    \"expression\": \"go for it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221221641415\"\n  },\n  {\n    \"expression\": \"don't even think about it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221220344374\"\n  },\n  {\n    \"expression\": \"Correct me if Im wrong\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221218994777\"\n  },\n  {\n    \"expression\": \"what a pity\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221217133475\"\n  },\n  {\n    \"expression\": \"any luck\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221214196644\"\n  },\n  {\n    \"expression\": \"Let me put it this way\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221212717512\"\n  },\n  {\n    \"expression\": \"enough already\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221211001844\"\n  },\n  {\n    \"expression\": \"get a life\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221208226341\"\n  },\n  {\n    \"expression\": \"My lips are sealed\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221208592563\"\n  },\n  {\n    \"expression\": \"no matter what\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221207120879\"\n  },\n  {\n    \"expression\": \"there is no such thing as\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221205774171\"\n  },\n  {\n    \"expression\": \"knock'em dead\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221204377779\"\n  },\n  {\n    \"expression\": \"in the old days\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221201095944\"\n  },\n  {\n    \"expression\": \"go easy on something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221199654353\"\n  },\n  {\n    \"expression\": \"pretty much\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221197803891\"\n  },\n  {\n    \"expression\": \"fail somebody\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221196370628\"\n  },\n  {\n    \"expression\": \"I'll give you that\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221194830707\"\n  },\n  {\n    \"expression\": \"Yes and No\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221193594317\"\n  },\n  {\n    \"expression\": \"as it is\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221190279840\"\n  },\n  {\n    \"expression\": \"a bit much\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221188952314\"\n  },\n  {\n    \"expression\": \"Don't ask\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221187092761\"\n  },\n  {\n    \"expression\": \"far from it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221185901823\"\n  },\n  {\n    \"expression\": \"just like that\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221184254565\"\n  },\n  {\n    \"expression\": \"Knock yourself out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221183105381\"\n  },\n  {\n    \"expression\": \"I guess so\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221181435596\"\n  },\n  {\n    \"expression\": \"see for yourself\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221179888511\"\n  },\n  {\n    \"expression\": \"easy for you to say\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221178416145\"\n  },\n  {\n    \"expression\": \"Don't get me wrong\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221177307865\"\n  },\n  {\n    \"expression\": \"leave it at that\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221174335144\"\n  },\n  {\n    \"expression\": \"fair enough\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221173171164\"\n  },\n  {\n    \"expression\": \"pull yourself together\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221170996223\"\n  },\n  {\n    \"expression\": \"give it a rest\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221169890190\"\n  },\n  {\n    \"expression\": \"Nice try\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221169127326\"\n  },\n  {\n    \"expression\": \"as it happens\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221167666332\"\n  },\n  {\n    \"expression\": \"No hard feelings\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221166121550\"\n  },\n  {\n    \"expression\": \"You'll be sorry\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221164511440\"\n  },\n  {\n    \"expression\": \"drive someone up the wall\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221163013358\"\n  },\n  {\n    \"expression\": \"shoot the breeze\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221161515744\"\n  },\n  {\n    \"expression\": \"lighten up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221160072791\"\n  },\n  {\n    \"expression\": \"pig out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221158850616\"\n  },\n  {\n    \"expression\": \"for real\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221157091411\"\n  },\n  {\n    \"expression\": \"make me sick\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221155334673\"\n  },\n  {\n    \"expression\": \"You're on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221153668680\"\n  },\n  {\n    \"expression\": \"make a day of it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221152402160\"\n  },\n  {\n    \"expression\": \"day in day out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221150740379\"\n  },\n  {\n    \"expression\": \"over my dead body\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221148937835\"\n  },\n  {\n    \"expression\": \"as far as I know\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221147552406\"\n  },\n  {\n    \"expression\": \"It's not my place to\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221146159537\"\n  },\n  {\n    \"expression\": \"down the drain\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221144569255\"\n  },\n  {\n    \"expression\": \"on second thought\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221142840154\"\n  },\n  {\n    \"expression\": \"What are the odds\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221139260330\"\n  },\n  {\n    \"expression\": \"No need!\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221137737802\"\n  },\n  {\n    \"expression\": \"be crazy about\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221136392241\"\n  },\n  {\n    \"expression\": \"get it over with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221134856811\"\n  },\n  {\n    \"expression\": \"it depends\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221133294861\"\n  },\n  {\n    \"expression\": \"I told you so!\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221132127436\"\n  },\n  {\n    \"expression\": \"be on the same page\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221130471880\"\n  },\n  {\n    \"expression\": \"turn over a new leaf\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221128921299\"\n  },\n  {\n    \"expression\": \"get out of here\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221127191391\"\n  },\n  {\n    \"expression\": \"get something off your chest\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221126064489\"\n  },\n  {\n    \"expression\": \"on the line\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221124357919\"\n  },\n  {\n    \"expression\": \"That makes two of us\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221122847945\"\n  },\n  {\n    \"expression\": \"That will do\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221121283771\"\n  },\n  {\n    \"expression\": \"be in the mood\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221120074507\"\n  },\n  {\n    \"expression\": \"stay put\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221118456605\"\n  },\n  {\n    \"expression\": \"apples and oranges\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221116579811\"\n  },\n  {\n    \"expression\": \"cut it out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221115086963\"\n  },\n  {\n    \"expression\": \"think straight\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221113505002\"\n  },\n  {\n    \"expression\": \"rise to the occasion\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221112119369\"\n  },\n  {\n    \"expression\": \"wait out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221111252034\"\n  },\n  {\n    \"expression\": \"poke your nose into something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221109928423\"\n  },\n  {\n    \"expression\": \"Now you tell me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221108633934\"\n  },\n  {\n    \"expression\": \"Now you're talking\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221107519128\"\n  },\n  {\n    \"expression\": \"as it turned out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221104338604\"\n  },\n  {\n    \"expression\": \"not a chance\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221101495333\"\n  },\n  {\n    \"expression\": \"give a damn\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221099864703\"\n  },\n  {\n    \"expression\": \"beat around the bush\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221097037501\"\n  },\n  {\n    \"expression\": \"have a crush on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221095524012\"\n  },\n  {\n    \"expression\": \"suck it up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221093763038\"\n  },\n  {\n    \"expression\": \"hear out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221092567638\"\n  },\n  {\n    \"expression\": \"step on someone's toes\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221090981802\"\n  },\n  {\n    \"expression\": \"the devil is in the details\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221089294907\"\n  },\n  {\n    \"expression\": \"Out of the woods\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221087669879\"\n  },\n  {\n    \"expression\": \"I owe you one\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221086582851\"\n  },\n  {\n    \"expression\": \"see about\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221085115881\"\n  },\n  {\n    \"expression\": \"throw someone under the bus\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221082348413\"\n  },\n  {\n    \"expression\": \"I mean it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221080748699\"\n  },\n  {\n    \"expression\": \"bite me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221079083742\"\n  },\n  {\n    \"expression\": \"freak out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221076369949\"\n  },\n  {\n    \"expression\": \"water under the bridge\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221074746774\"\n  },\n  {\n    \"expression\": \"get the picture\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221072183980\"\n  },\n  {\n    \"expression\": \"Get on one's nerves\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221070505148\"\n  },\n  {\n    \"expression\": \"about time\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221069006004\"\n  },\n  {\n    \"expression\": \"cut to the chase\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221066319106\"\n  },\n  {\n    \"expression\": \"cut the crap\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221064823066\"\n  },\n  {\n    \"expression\": \"in private\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221051707011\"\n  },\n  {\n    \"expression\": \"I have sores in my mouth\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221050139748\"\n  },\n  {\n    \"expression\": \"off the record\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221048515200\"\n  },\n  {\n    \"expression\": \"suit yourself\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221046784414\"\n  },\n  {\n    \"expression\": \"off the cuff\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221045729040\"\n  },\n  {\n    \"expression\": \"just in case\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221044158660\"\n  },\n  {\n    \"expression\": \"just so you know\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221042432114\"\n  },\n  {\n    \"expression\": \"I'm on it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221041395416\"\n  },\n  {\n    \"expression\": \"as for\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221039832765\"\n  },\n  {\n    \"expression\": \"feel/be flattered\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221038202944\"\n  },\n  {\n    \"expression\": \"tick off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221033856827\"\n  },\n  {\n    \"expression\": \"get back to sb/sth\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221032199867\"\n  },\n  {\n    \"expression\": \"with all due respect\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221031059946\"\n  },\n  {\n    \"expression\": \"take a rain check\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221029442840\"\n  },\n  {\n    \"expression\": \"give or take\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221025692533\"\n  },\n  {\n    \"expression\": \"ring a bell\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221024006609\"\n  },\n  {\n    \"expression\": \"speaking of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221022487669\"\n  },\n  {\n    \"expression\": \"rip off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221020904268\"\n  },\n  {\n    \"expression\": \"take it easy\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221016276401\"\n  },\n  {\n    \"expression\": \"not to say\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221013550936\"\n  },\n  {\n    \"expression\": \"have an appointment\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221011848138\"\n  },\n  {\n    \"expression\": \"be sick and tired of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221010182657\"\n  },\n  {\n    \"expression\": \"Help yourself\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221009018565\"\n  },\n  {\n    \"expression\": \"to put it another way\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221007404418\"\n  },\n  {\n    \"expression\": \"come down with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/221004479912\"\n  },\n  {\n    \"expression\": \"Why not\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220983600867\"\n  },\n  {\n    \"expression\": \"be into something\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220981865611\"\n  },\n  {\n    \"expression\": \"Have a nice weekend !\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220978381163\"\n  },\n  {\n    \"expression\": \"You've got to be kidding me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220916439066\"\n  },\n  {\n    \"expression\": \"Let's call it a day\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220914541748\"\n  },\n  {\n    \"expression\": \"whatever it takes\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220905956256\"\n  },\n  {\n    \"expression\": \"go, come\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220897742680\"\n  },\n  {\n    \"expression\": \"Beats me\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220876573621\"\n  },\n  {\n    \"expression\": \"Hang in there\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220874878724\"\n  },\n  {\n    \"expression\": \"Way to go\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220862499401\"\n  },\n  {\n    \"expression\": \"first come, first served\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220858677670\"\n  },\n  {\n    \"expression\": \"Keep up the good work\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220850258587\"\n  },\n  {\n    \"expression\": \"In time, On time\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220843484497\"\n  },\n  {\n    \"expression\": \"in the world\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220840599697\"\n  },\n  {\n    \"expression\": \"No offense\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220834666606\"\n  },\n  {\n    \"expression\": \"On the way\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220830762448\"\n  },\n  {\n    \"expression\": \"You shouldn't have!\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220826181089\"\n  },\n  {\n    \"expression\": \"end up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220821486066\"\n  },\n  {\n    \"expression\": \"Pick up sth/sb\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220797676238\"\n  },\n  {\n    \"expression\": \"mess with\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220757847534\"\n  },\n  {\n    \"expression\": \"after all\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220754482266\"\n  },\n  {\n    \"expression\": \"mess up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220752541005\"\n  },\n  {\n    \"expression\": \"figure out\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220750395952\"\n  },\n  {\n    \"expression\": \"bundle up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220746400561\"\n  },\n  {\n    \"expression\": \"back off\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220734400104\"\n  },\n  {\n    \"expression\": \"so far\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220731136720\"\n  },\n  {\n    \"expression\": \"cheat on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220727648176\"\n  },\n  {\n    \"expression\": \"make it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220726192530\"\n  },\n  {\n    \"expression\": \"grow up vs grow\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220713367140\"\n  },\n  {\n    \"expression\": \"How dare you\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220702010477\"\n  },\n  {\n    \"expression\": \"what for\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220700559104\"\n  },\n  {\n    \"expression\": \"sort of vs kind of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220698351402\"\n  },\n  {\n    \"expression\": \"in the middle of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220693321380\"\n  },\n  {\n    \"expression\": \"on sale vs for sale\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220689952572\"\n  },\n  {\n    \"expression\": \"No problem\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220685265731\"\n  },\n  {\n    \"expression\": \"Shame on you\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220684079398\"\n  },\n  {\n    \"expression\": \"Whats up\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220682397647\"\n  },\n  {\n    \"expression\": \"Nice to see you vs Nice to meet you\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220677345322\"\n  },\n  {\n    \"expression\": \"No doubt\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220675404877\"\n  },\n  {\n    \"expression\": \"No Way\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220673117757\"\n  },\n  {\n    \"expression\": \"not that I know of\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220669830409\"\n  },\n  {\n    \"expression\": \"in the first place\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220665932033\"\n  },\n  {\n    \"expression\": \"What about vs How about\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220649390627\"\n  },\n  {\n    \"expression\": \"fool around\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220632840314\"\n  },\n  {\n    \"expression\": \"you bet\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220632337181\"\n  },\n  {\n    \"expression\": \"the thing is\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220631407233\"\n  },\n  {\n    \"expression\": \"big deal\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220630220304\"\n  },\n  {\n    \"expression\": \"count on\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220628841293\"\n  },\n  {\n    \"expression\": \"All right\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220628009198\"\n  },\n  {\n    \"expression\": \"get it\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220614095946\"\n  },\n  {\n    \"expression\": \"so much for\",\n    \"url\": \"https://m.blog.naver.com/wannajoinme/220610724275\"\n  }\n]\n\nreturn raw_data.map(item => ({ json: item }))"
            },
            "name": "0. Load Data1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                -96,
                288
            ],
            "id": "25533dbb-ebb5-4079-b884-205db56384a6"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "openai/gpt-oss-120b"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [{\"role\": \"system\", \"content\": $json.system_prompt}, {\"role\": \"user\", \"content\": $json.user_prompt}] }}"
                        },
                        {
                            "name": "response_format",
                            "value": "={{ {\"type\": \"json_object\"} }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                272,
                576
            ],
            "id": "ec49cef6-81bd-41e0-b8dc-578bfe435d2a",
            "name": "HTTP Request1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "your-http-header-auth-id",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                608,
                288
            ],
            "id": "41356b7c-cdf4-4640-a0d9-922fcb0b4fe4",
            "name": "Merge"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "variants",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                784,
                288
            ],
            "id": "d82f7ed3-1f76-40ee-b507-bbfc0f7ade99",
            "name": "Aggregate"
        },
        {
            "parameters": {
                "jsCode": "// n8n Code Node: Parse LLM Response\n// Adaptation for Groq/OpenAI response format\n\nconst items = $input.all();\nconst returnData = [];\n\nreturn items.map((item, index) => {\n    const response = item.json;\n    let contentStr = \"\";\n\n    // 1. Extract content string from Groq/OpenAI structure\n    if (response.choices && response.choices[0] && response.choices[0].message) {\n        contentStr = response.choices[0].message.content;\n    } else if (response.content) {\n        contentStr = response.content;\n    } else {\n        contentStr = typeof response === 'string' ? response : JSON.stringify(response);\n    }\n\n    // 2. Parse JSON content\n    let parsedContent = {};\n    try {\n        const cleanStr = contentStr.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n        parsedContent = JSON.parse(cleanStr);\n    } catch (error) {\n        parsedContent = { error: \"Failed to parse JSON\", raw: contentStr };\n    }\n\n    // 3. Output\n    return {\n        json: {\n            ...response,\n            content: parsedContent\n        },\n        pairedItem: { item: index }\n    };\n});"
            },
            "name": "3. Parse Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                448,
                576
            ],
            "id": "96d4b8ea-cd7e-487e-831e-ae40a62da506"
        },
        {
            "parameters": {
                "jsCode": "// n8n Code Node: Load & Transform (Fan-out)\n// Input: Raw JSON array from '0. Load Data'\n\nconst items = $input.all();\nconst target_langs = ['en', 'ko', 'ja', 'es'];\n\n// API          (Expression) .\nif (items.length === 0) return [];\n\nconst firstItem = items[0].json;\nconst output = [];\n\n//     4    (Fan-out)\ntarget_langs.forEach(lang => {\n    output.push({\n        json: {\n            expression: firstItem.expression,\n            source_url: firstItem.url || firstItem.source_url,\n            target_lang: lang,\n            status: 'pending',\n            group_id: firstItem.expression, //      \n            processed_at: new Date().toISOString()\n        },\n        pairedItem: { item: 0 } //    \n    });\n});\n\nreturn output;"
            },
            "name": "1. Transform Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                80,
                288
            ],
            "id": "2a134a43-6228-4924-8504-326e83730488"
        },
        {
            "parameters": {
                "jsCode": "// n8n Code Node: Extreme English Mastery Engine (V3.0 - Pay-worthy Quality)\n//       ' '     .\n\nconst items = $input.all();\n\nreturn items.map((item, index) => {\n  const data = item.json;\n  const expression = data.expression;\n  const target_lang = data.target_lang || 'ko';\n\n  const system_prompt = `\nYou are an 'Extreme Linguistic Consultant' at Prismola. Your mission is to provide an elite, $20/month subscription-grade analysis of the English expression \"${expression}\" for a ${target_lang} speaker.\n\n[Core Philosophy: Deliver Value Beyond Definition]\n1. 1% Micro-Nuance: Analyze the speaker's psychological stateconfidence level (0-100%), irony, and subtle emotional weight.\n2. Social Intelligence (Etiquette): Identify \"Social-bonding\" vs \"Vibe-clashing\" moments. Define the specific \"Vibe\" in daily life (hanging out with friends, meeting new people, family gatherings) that a dictionary can't catch.\n3. Contrastive Superiority: Why is \"${expression}\" the \"Winner\" over its synonyms in casual talk? Create a clear contrast map.\n\n[Linguistic Accuracy & Hallucination Guard]\n- NEVER suggest broken grammar like \"Could you what do you think\". \n- Only suggest natural, native-level polite alternatives (e.g., \"What are your thoughts on this?\").\n\n[Detailed Task Modules]\n- Extreme Nuance Deep Dive: 4-5 sentences of high-level linguistic analysis.\n- Contrast Map: Compare with 1-2 rivals. Explain why natives would choose THIS one specifically in a given Vibe.\n- Social Calibration: Formality score and specific \"usage warnings\" for different social tiers (Boss, Friend, Stranger).\n- Professional Mastery Quiz: The distractors must be grammatically perfect but \"Socially Awkward\" or \"Vibe-clashing.\"\n- **STRICT RULE**: Quiz \\`options\\` (A, B, C) MUST be **PURE ENGLISH expressions**. \n- **NO PARENTHESES**: DO NOT include any explanations or ${target_lang} text in parentheses within the \\`options\\` field.\n- **FEEDBACK ONLY**: All reasoning, context explanations, or why an option is \"too casual\" must be placed EXCLUSIVELY in the \\`social_calibration_feedback\\` field.\n\n[Strict Formatting]\n- Tone: Sophisticated, insightful, and elite. Use polite honorifics in ${target_lang}.\n- Language: All values in JSON must be in ${target_lang} (except specifically requested English content).\n- JSON: Return ONLY a valid JSON object. No preamble, no backticks.\n`;\n\n  const user_prompt = `\nProduce an \"Extreme Mastery Card\" for \"${expression}\" in ${target_lang}.\nMaximize the depth of insight. Make it worthy of a premium paid service.\n\n[Required JSON Schema]\n{\n  \"expression\": \"${expression}\",\n  \"micro_nuance_analysis\": \"3-5 sentences analyzing the 1% micro-vibe and speaker's psychological state in ${target_lang}\",\n  \"social_intelligence_map\": {\n    \"formality_score\": \"1-10\",\n    \"etiquette_guide\": \"Strategic advice on who to use this with (friends, strangers, dates, etc.) and cultural taboos in ${target_lang}\",\n    \"vibe_summary\": \"The definitive 'Atmosphere' in daily social contexts in ${target_lang}\"\n  },\n  \"contrastive_mastery\": {\n    \"synonym_rivals\": [\"Synonym 1\", \"Synonym 2\"],\n    \"why_this_wins\": \"Strategic reason to choose '${expression}' over rivals in specific contexts in ${target_lang}\"\n  },\n  \"mastery_dialogue\": [\n    { \"role\": \"A\", \"en\": \"...\", \"translation\": \"...\", \"intent\": \"A's psychological intent\" },\n    { \"role\": \"B\", \"en\": \"...\", \"translation\": \"...\", \"reaction\": \"B's emotional reaction\" },\n    { \"role\": \"A\", \"en\": \"...\", \"translation\": \"...\", \"resolution\": \"Strategic closure\" }\n  ],\n  \"native_expert_hack\": \"A 'secret' high-level tip for perfect usage in ${target_lang}\",\n  \"extreme_iq_quiz\": {\n    \"scenario\": \"A complex everyday social situation (e.g., at a party, traveling, with a new friend) described in ${target_lang}\",\n    \"question\": \"Which response is most socially appropriate (e.g., '   ?')?\",\n    \"options\": {\n      \"A\": \"${expression}\",\n      \"B\": \"Grammatically correct but socially unnatural/stiff\",\n      \"C\": \"Similar meaning but vibe-clashing (e.g., too formal for a casual hangout)\"\n    },\n    \"answer\": \"A\",\n    \"social_calibration_feedback\": \"Detailed analysis of why A is socially perfect and why B/C lack 'vibe intelligence' in ${target_lang}\"\n  },\n  \"tags\": [\"archeology\", \"psychology\", \"social-iq\"]\n}\n`;\n\n  return {\n    json: {\n      system_prompt,\n      user_prompt,\n      expression,\n      target_lang\n    },\n    pairedItem: { item: index }\n  };\n});"
            },
            "name": "2. Construct Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                272,
                288
            ],
            "id": "fe9a01b5-f8b4-408b-beed-e2c91dcc7159"
        },
        {
            "parameters": {
                "jsCode": "// n8n Code Node: Merge Languages (Extreme Mastery Aggregator V3.0)\n// 'Extreme Mastery'        DB  .\n\nconst items = $input.all();\n\nreturn items.map((item, index) => {\n    const group = item.json;\n\n    // 1. n8n Aggregate      \n    const variants = group.variants || group.data || (Array.isArray(group) ? group : []);\n\n    const content_map = {};\n    const summary_map = {};\n    let expression = group.expression || \"\";\n    let dialogue_for_tts = \"\";\n    let all_tags = new Set();\n\n    if (variants.length === 0) {\n        return { json: { error: \"No variants found to merge. Check Aggregate node settings.\" } };\n    }\n\n    variants.forEach(variant => {\n        const vData = variant.json ? variant.json : variant;\n        const lang = vData.target_lang;\n        const res = vData.content; // LLM  Extreme Mastery JSON \n\n        if (lang && res) {\n            // []  'Extreme Mastery'   (V3.0)\n            content_map[lang] = {\n                micro_nuance_analysis: res.micro_nuance_analysis,\n                social_intelligence_map: res.social_intelligence_map,\n                contrastive_mastery: res.contrastive_mastery,\n                dialogue: res.mastery_dialogue || res.dialogue, // V3.0  \n                expert_tip: res.native_expert_hack || res.expert_tip, // V3.0  \n                quiz: res.extreme_iq_quiz || res.quiz // V3.0  \n            };\n\n            // UI   (V3.0       )\n            summary_map[lang] = res.micro_nuance_analysis ? res.micro_nuance_analysis.split('.')[0] + '.' : expression;\n\n            //  \n            if (Array.isArray(res.tags)) {\n                res.tags.forEach(t => all_tags.add(t.toLowerCase().trim()));\n            }\n\n            //   \n            if (!expression && res.expression) {\n                expression = res.expression;\n            }\n\n            // TTS  ( , dialogue  )\n            const targetDialogue = res.mastery_dialogue || res.dialogue;\n            if (lang === 'en' && Array.isArray(targetDialogue)) {\n                dialogue_for_tts = targetDialogue.map(d => d.en).join('\\n');\n            }\n        }\n    });\n\n    // Fallback:         \n    if (!dialogue_for_tts && Object.keys(content_map).length > 0) {\n        const firstLang = Object.keys(content_map)[0];\n        const firstDialogue = content_map[firstLang].dialogue;\n        if (Array.isArray(firstDialogue)) {\n            dialogue_for_tts = firstDialogue.map(d => d.en).join('\\n');\n        }\n    }\n\n    return {\n        json: {\n            expression: expression,\n            summary: summary_map,      // UI   \n            content: content_map,      // Extreme Mastery  \n            tags: Array.from(all_tags),\n            dialogue_text: dialogue_for_tts,\n            merged_at: new Date().toISOString(),\n            status: \"success\",\n            quality_level: \"extreme_mastery_v3\"\n        },\n        pairedItem: { item: index }\n    };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                960,
                288
            ],
            "id": "2b35dfb8-6cb9-4280-b77d-8ff4f90264c3",
            "name": "4. Merge Languages"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -272,
                288
            ],
            "id": "5e11034b-99c6-4014-9524-3fbd3199f291",
            "name": "When clicking Execute workflow"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.tts_endpoint }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "={{ $json.tts_model }}"
                        },
                        {
                            "name": "input",
                            "value": "={{ $json.tts_input }}"
                        },
                        {
                            "name": "voice",
                            "value": "={{ $json.tts_voice }}"
                        },
                        {
                            "name": "response_format",
                            "value": "={{ $json.tts_format }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1312,
                288
            ],
            "id": "16aced21-e64b-410d-985f-fb9f9d1e6656",
            "name": "HTTP Request",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "your-http-header-auth-id",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// n8n Code Node: Prepare Multi-Voice TTS Requests (Groq Orpheus V1)\n//  (A, B)   (Fan-out)    .\n\nconst items = $input.all();\nlet results = [];\n\nitems.forEach((item, itemIndex) => {\n    const data = (item.json && typeof item.json === 'object') ? item.json : {};\n\n    // 1.     (04_merge_languages.js   )\n    const dialogueEntries = (data.content && data.content.en && data.content.en.dialogue)\n        ? data.content.en.dialogue\n        : [];\n\n    if (dialogueEntries.length === 0) {\n        //     (   dialogue_text )\n        const fallbackText = data.dialogue_text || \"\";\n        if (fallbackText) {\n            results.push({\n                json: {\n                    ...data,\n                    tts_model: \"canopylabs/orpheus-v1-english\",\n                    tts_input: fallbackText.substring(0, 200),\n                    tts_voice: \"hannah\",\n                    tts_format: \"wav\",\n                    tts_endpoint: \"https://api.groq.com/openai/v1/audio/speech\"\n                },\n                pairedItem: { item: itemIndex }\n            });\n        }\n        return;\n    }\n\n    // 2.     (Fan-out)\n    dialogueEntries.forEach((entry, lineIndex) => {\n        const rawText = entry.en || \"\";\n        const role = (entry.role || \"A\").toUpperCase(); // A  B\n\n        //   (   200 )\n        const cleanedText = rawText.replace(/\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n        const ttsInput = cleanedText.length > 200\n            ? cleanedText.substring(0, 197) + \"...\"\n            : cleanedText;\n\n        //    \n        // A: Hannah (), B: Troy ()\n        const voice = (role === 'B') ? 'troy' : 'hannah';\n\n        results.push({\n            json: {\n                ...data,\n                tts_model: \"canopylabs/orpheus-v1-english\",\n                tts_input: ttsInput,\n                tts_voice: voice,\n                tts_role: role,\n                tts_line_index: lineIndex, //  \n                tts_format: \"wav\",\n                tts_endpoint: \"https://api.groq.com/openai/v1/audio/speech\"\n            },\n            pairedItem: { item: itemIndex }\n        });\n    });\n});\n\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1136,
                288
            ],
            "id": "1a019d6f-fda8-4c6d-95e8-c1724c11dbed",
            "name": "5. Prepare TTS Request"
        }
    ],
    "pinData": {},
    "connections": {
        "0. Load Data1": {
            "main": [
                [
                    {
                        "node": "1. Transform Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "3. Parse Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate": {
            "main": [
                [
                    {
                        "node": "4. Merge Languages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Parse Response": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "1. Transform Input": {
            "main": [
                [
                    {
                        "node": "2. Construct Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Construct Prompt": {
            "main": [
                [
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking Execute workflow": {
            "main": [
                [
                    {
                        "node": "0. Load Data1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Merge Languages": {
            "main": [
                [
                    {
                        "node": "5. Prepare TTS Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. Prepare TTS Request": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "12a9a596-3f89-4ffe-a1c5-6dc90f1d2147",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "44eccdfd3d6ceb66b2583823800b36baa2414bca9365757e5e9e074681b0e0e7"
    },
    "id": "HDmdFJEqueihuHgp",
    "tags": []
}